body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

h1 {
    color: rgb(238, 238, 243);
}

h2 {
    color: rgb(238, 238, 243);
}

p {
    color: rgb(238, 238, 243);
}

a {
    color: rgb(238, 238, 243);
}
